# Linker config for PETProject modules
# All modules load at $C000.
# The 2-byte PRG header ($00 $C0) is written by the LOADADDR segment.
# Code starts immediately after at $C000.

MEMORY {
    ZP:       start = $02,   size = $1E,  type = rw,  define = yes;
    LOADADDR: start = $0000, size = $0002, file = %O;
    MAIN:     start = $C000, size = $0FFE, file = %O;
}

SEGMENTS {
    LOADADDR: load = LOADADDR, type = ro;
    CODE:     load = MAIN,     type = ro,  define = yes;
    BSS:      load = MAIN,     type = bss, define = yes, optional = yes;
    ZEROPAGE: load = ZP,       type = zp,  define = yes, optional = yes;
}
